#!/usr/bin/bash
#test
echo "Content-type: text/html"
echo ""

# HTML output linking to external CSS
echo "<html>"
echo "<head>"
echo "<title>Server Statistics</title>"
echo "<link rel='stylesheet' type='text/css' href='/styles.css'>"
echo "Running as {{ ansible_user }}"

uptime=$(uptime -p)
memory=$(free -m | awk 'NR==2 {print $2, $3, $7}')
load=$(cat /proc/loadavg)

echo "<h2>System Statistics</h2>"


echo "</body>"
echo "</html>"
